<!doctype html>
<!-- Ng strict di basically throws errors when, at build time, it is found a piece of code that is not compliant to minification; but note that the code may be right and without logical-syntactical errors.-->
<html ng-app="app" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Sumo Typeahead</title>
    <meta name="description" content="Typeahead description here.">
    <meta name="keywords" content="Typeahead keywords here.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="robots" content="noindex">
  </head>
  <body>
    <div id="app-wrapper" ui-view></div>
  </body>
</html>